{include file="public/head,public/nav"}

    <div class="container" style="position:relative">
        <div class="top-container">
            <div class="mid-area">
                <div class="slide-holder" id="slide-holder">
                    <a href="#" class="slide-prev"><i class="slide-arrow-left"></i></a>
                    <a href="#" class="slide-next"><i class="slide-arrow-right"></i></a>
                    <ul class="slideshow">
                        {foreach $featuredDataType0 as $vo}
                        <li><a href="" class="item-large"><img class="ad-pic" src="{$vo.image}" /></a></li>
                        {/foreach}
                    </ul>
                </div>
                <div class="list-container" style="position:absolute; right:0; top:0;">
                    <ul>
                        {foreach $featuredDataType1 as $vo}
                        <li><a><img src="{$vo.image}" /></a></li>
                        {/foreach}
                    </ul>
                </div>
            </div>
        </div>

        <div class="content-container">
            <div class="no-recom-container">
                <div class="floor-content-start">
                    {volist name="categoryData" id="vo1" offset="0" length='4'}
                    <div class="floor-content">
                        <div class="floor-header">
                            <h3>{$vo1.name}</h3>
                            <ul class="reco-words">
                                {volist name="$vo1['seCategory']" id="vo2" offset="0" length="4"}
                                <li><a href="{:url('lists/index',['categoryId'=>$vo2.id])}" target="_blank">{$vo2.name}</a></li>
                                {/volist}
                                <li><a href="{:url('lists/index',['categoryId'=>$vo1.id])}" class="no-right-border no-right-padding" target="_blank">全部<span class="all-cate-arrow"></span></a></li>
                            </ul>
                        </div>

                        <ul class="itemlist eight-row-height">
                            {if condition="$vo1['dealData']"}
                                {volist name="$vo1['dealData']" id="vo3"}
                                <li class="j-card">
                                    <a href="{:url('detail/index',['dealId'=>$vo3.id])}">
                                        <div class="imgbox">
                                            <ul class="marketing-label-container">
                                                <li class="marketing-label marketing-free-appoint"></li>
                                            </ul>
                                            <div class="range-area">
                                                <div class="range-bg"></div>
                                                <div class="range-inner">
                                                    <span class="white-locate"></span>
                                                    {$nowCity["name"]}&nbsp;&nbsp;&nbsp;{$vo3["se_city_id"]|getSeCityName}
                                                </div>
                                            </div>
                                            <div class="borderbox">
                                                <img src="{$vo3.image}" />
                                            </div>
                                        </div>
                                    </a>
                                    <div class="contentbox">
                                        <a href="//www.nuomi.com/deal/ke0370si.html" target="_blank">
                                            <div class="header">
                                                <h4 class="title ">{$vo3.name}</h4>
                                            </div>
                                            <p>【{$vo3.location_ids|countLocation}间分店通用】</p>
                                        </a>
                                        <div class="pinfo">
                                            <span class="price"><span class="moneyico">¥</span>{$vo3.current_price}</span>
                                            <span class="ori-price">价值<span class="price-line">¥<span>{$vo3.origin_price}</span></span></span>
                                        </div>
                                        <div class="footer">
                                            <span class="sold">已售<span style="color:#FF4883">{$vo3.buy_count}</span></span>
                                            <div class="bottom-border"></div>
                                        </div>
                                    </div>
                                </li>
                                {/volist}
                            {else /}
                                <span style="margin:8px 38px 48px; display:inline-block; color:#ff4883; font-size:24px; font-weight:600">该城市下没有此分类数据</span>
                            {/if}
                        </ul>
                    </div>
                    {/volist}

                </div>
            </div>
        </div>
    </div>

    <div class="footer-content">
        <div class="copyright-info">
            
        </div>
    </div>

    <script>
        var width = 800 * $("#slide-holder ul li").length;
        $("#slide-holder ul").css({width: width + "px"});

        //轮播图自动轮播
        var time = setInterval(moveleft,5000);

        //轮播图左移
        function moveleft(){
            $("#slide-holder ul").animate({marginLeft: "-737px"},600, function () {
                $("#slide-holder ul li").eq(0).appendTo($("#slide-holder ul"));
                $("#slide-holder ul").css("marginLeft","0px");
            });
        }

        //轮播图右移
        function moveright(){
            $("#slide-holder ul").css({marginLeft: "-737px"});
            $("#slide-holder ul li").eq(($("#slide-holder ul li").length)-1).prependTo($("#slide-holder ul"));
            $("#slide-holder ul").animate({marginLeft: "0px"},600);
        }

        //右滑箭头点击事件
        $(".slide-next").click(function () {
            clearInterval(time);
            moveright();
            time = setInterval(moveleft,5000);
        });

        //左滑箭头点击事件
        $(".slide-prev").click(function () {
            clearInterval(time);
            moveleft();
            time = setInterval(moveleft,5000);
        });
    </script>
</body>
</html>