{include file="public/head,public/nav"}

    <div class="p-detail">
        <div class="p-bread-crumb">
            <div class="w-bread-crumb">
                <ul class="crumb-list">
                    <li class="crumb"><a>团购</a><span class="ico-gt">&gt;</span></li>
                    {foreach $categoryData as $vo}
                        {if condition="$vo.id == $dealData.category_id"}
                            <li class="crumb"><a href="{:url('lists/index',['categoryId'=>$vo.id])}">{$vo.name}</a><span class="ico-gt">&gt;</span></li>
                        {/if}
                    {/foreach}
                    <li class="crumb crumb-last"><a>{$bisData.name}</a></li>
                </ul>
            </div>
        </div>
        <div class="static-hook-real static-hook-id-5"></div>
        <div class="p-item-info">
            <div class="w-item-info">
                <h2>{$nowCity["name"]}&nbsp;&nbsp;&nbsp;&nbsp;{$bisData.name}</h2>
                <div class="item-title">
                    <span class="text-main">{$dealData.name}</span>
                </div>
                <div class="ii-images static-hook-real static-hook-id-6">
                    <div class="w-item-images">
                        <div class="images-board">
                            <div class="item-status ">
                                <span class="ico-status ico-jingxuan"></span>
                            </div>
                            <img src="{$dealData.image}" class="item-img-large" style="border:1px solid #777;" />
                        </div>
                        <ul class="images-list clearfix">
                            <li class="images images-last">
                                <img src="{$dealData.image}" style="border:1px solid #777;" />
                            </li>
                        </ul>
                        <div class="erweima-share-collect">
                            <ul class="item-option clearfix">
                                <li class=" ">

                                    <div class="collect-success">

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="ii-intro">
                    <div class="w-item-intro">
                        <div class="price-area-wrap static-hook-real static-hook-id-8">
                            <div class="price-area has-promotion-icon">
                                <div class="pic-price-area">
                                    <span class="unit">¥</span>
                                    <span class="priceNum">{$dealData.current_price}</span>
                                </div>

                                <div class="market-price-area">
                                    <div class="price">¥{$dealData.origin_price}</div>
                                    <div class="name">价值</div>
                                </div>


                            </div>
                        </div>
                        <div class="static-hook-real static-hook-id-9">
                            <a class="link jingxuan-box" alt="更多精选品牌特惠">
                                <div class="box">

                                    <div class="jx-update" id="j-jxUpdateTime">
                                        <span>距离开始时间还有</span>
                                        <span class="jx-timerbox">{$dealData.start_time|countDown}</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <ul class="ugc-strategy-area static-hook-real static-hook-id-10">
                            <li class="item-bought">
                                <div class="sl-wrap">
                                    <div class="sl-wrap-cnt">
                                        <div class="item-bought-num"><span class="intro-strong">{$dealData.buy_count}</span>人已团购</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="buy-panel-wrap">
                            <div class="buy-panel">
                                <div class="validdate-buycount-area static-hook-real static-hook-id-11">
                                    <div class="item-countdown-row">
                                        <span class="name">有效期</span>
                                        <span class="value">{$dealData.coupons_end_time|date="Y-m-d",###}</span>
                                    </div>
                                    <div class="item-buycount-row j-item-buycount-row">
                                        <div class="name">数&nbsp;&nbsp;&nbsp;量</div>
                                        <div class="buycount-ctrl">
                                            <a href="javascript:;" class="j-ctrl ctrl minus disabled"><span class="horizontal"></span></a>
                                            <input type="text" value="1" maxlength="10" autocomplete="off">
                                            <a href="javascript:;" class="ctrl j-ctrl plus "><span class="horizontal"></span><span class="vertical"></span></a>
                                        </div>
                                        <div class="text-wrap">
                                            <span class="left-budget">优惠价剩余{$dealData.total_count - $dealData.buy_count}份</span>
                                            <span class="err-wrap j-err-wrap"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-buy-area">
                                    <div style="float:left" class="static-hook-real static-hook-id-12">
                                        <a href="" class="btn-buy btn-buy-qrnew j-btn-buy btn-hit">立即抢购</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-item-info-more">
            <div class="iim-wrapper">
                <div class="spec-nav ">
                    <div class="nav-bar"></div>
                    <div class="w-spec-nav" style="position: static; top: auto; z-index: auto;">
                        <ul class="sn-list">
                            <li class="spec-nav-current">
                                <i></i><a><span>本单详情</span></a>
                            </li>
                            <li class="">
                                <i></i><a><span>消费提示</span></a>
                            </li>
                            <li class="">
                                <i></i><a><span>商家介绍</span></a>
                            </li>
                        </ul>

                    </div>
                </div>
                <ul class="j-info-all" style="font-size:15px; line-height:1.3em; letter-spacing:1px;">
                    <li class="tab">
                        <div class="ia-shop-branch">
                            <div class="w-shop-branch">
                                <h3 class="w-section-header">总店信息</h3>
                                <div class="branch-content">
                                    <div class="shop-map">
                                        <div class="w-map">
                                            <div class="map-container" style="overflow: hidden; position: relative; z-index: 0; color: rgb(0, 0, 0); text-align: left; background-color: rgb(243, 241, 236);">
                                                <div style="overflow: visible; position: absolute; z-index: 0; left: 0px; top: 0px; cursor: url('https://api.map.baidu.com/images/openhand.cur') 8 8, default;">
                                                    <div class="BMap_mask" style="position: absolute; left: 0px; top: 0px; z-index: 9; overflow: hidden; -webkit-user-select: none; width: 325px; height: 325px;"></div>
                                                    <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 200;">
                                                        <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 800;"></div>
                                                        <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 700;">
                                                            <span class="BMap_Marker BMap_noprint" style="position: absolute; padding: 0px; margin: 0px; border: 0px; cursor: pointer; width: 19px; height: 25px; left: 96px; top: 152px; z-index: -7994158; background: url(&quot;https://api.map.baidu.com/images/blank.gif&quot;);" title=""></span>
                                                            <span class="BMap_Marker BMap_noprint" unselectable="on" style="position: absolute; padding: 0px; margin: 0px; border: 0px; cursor: pointer; width: 19px; height: 25px; left: 65px; top: 147px; z-index: -7998040; background: url(&quot;https://api.map.baidu.com/images/blank.gif&quot;);" title=""></span>
                                                            <span class="BMap_Marker BMap_noprint" unselectable="on" style="position: absolute; padding: 0px; margin: 0px; border: 0px; cursor: pointer; width: 19px; height: 25px; left: 240px; top: 101px; z-index: -8030418; background: url(&quot;https://api.map.baidu.com/images/blank.gif&quot;);" title=""></span>
                                                            <span class="BMap_Marker BMap_noprint" unselectable="on" style="position: absolute; padding: 0px; margin: 0px; border: 0px; cursor: pointer; width: 19px; height: 25px; left: 143px; top: 174px; z-index: -7979020; background: url(&quot;https://api.map.baidu.com/images/blank.gif&quot;);" title=""></span>
                                                        </div>
                                                        <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 600;"></div>
                                                        <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 500;"><label class="BMapLabel" unselectable="on" style="position: absolute; display: none; cursor: inherit; border: 1px solid rgb(190, 190, 190); padding: 1px; white-space: nowrap; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: arial, sans-serif; z-index: -20000; color: rgb(190, 190, 190); background-color: rgb(190, 190, 190);">shadow</label></div>

                                                        <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 201;"></div>
                                                        <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 200;"></div>
                                                    </div>
                                                    <div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 1;">
                                                        <div style="position: absolute; overflow: visible; z-index: -100; left: 0px; top: 0px; display: block; transform: translate3d(0px, 0px, 0px);">
                                                            <img src="{:url('map/getMapImage',['data'=>$locationData[0]['xpoint'] . ',' . $locationData[0]['ypoint']])}" style="width:425px; height:408px;">

                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                            <a class="map-zoom">
                                                <span>查看完整地图</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="branch-detail">
                                        <div>
                                            <div class="branch-list-content">
                                                <div class="w-branch-list">
                                                    <ul class="branch-list-content">
                                                        {foreach $locationData as $vo}
                                                            <li class="branch branch-open">
                                                                <a href="//www.nuomi.com/shop/133957" target="_blank" class="branch-name">{$vo.name}</a>
                                                                <p class="branch-address">{$vo.address}</p>
                                                                <p class="branch-tel">{$vo.tel}</p>
                                                                <p class="map-travel">
                                                                    <a href="javascript:;" class="map">
                                                                        <span class="icon"></span>
                                                                        <span class="text">查询地图</span>
                                                                    </a>
                                                                    <a href="javascript:;" class="travel">
                                                                        <span class="icon"></span>
                                                                        <span class="text">公交/驾车去这里</span>
                                                                    </a>
                                                                </p>
                                                            </li>
                                                        {/foreach}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ifram">{$dealData.description}</div>
                    </li>
                    <li class="tab"><div class="ifram">{$dealData.notes}</div></li>
                    <li class="tab">
                        <div class="ifram">
                            <h3 style="font-size:20px; font-weight:600; color: #ff4883">{$bisData.name}</h3>
                            <img src="{$bisData.logo}" style="width:180px; height:180px; border:1px solid #777;"/>
                            {$bisData.description}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-content">
        <div class="copyright-info">
            <div class="site-info">

            </div>
            <div class="icons">

            </div>
            <div style="width:200px;margin:0 auto; padding:20px 0;">

            </div>
        </div>
    </div>

    <script>
        //校验正整数
        function isNaN(number){
            var reg = /^[1-9]\d*$/;
            return reg.test(number);
        }

        function inputChange(num){
            if(!isNaN(num)){
                $(".buycount-ctrl input").val("1");
            }
            else{
                $(".buycount-ctrl input").val(num);
                if(num == 1){
                    $(".buycount-ctrl a").eq(0).addClass("disabled");
                }
                else{
                    $(".buycount-ctrl a").eq(0).removeClass("disabled");
                }
            }
        }

        $(".buycount-ctrl input").keyup(function(){
            var num = $(".buycount-ctrl input").val();
            inputChange(num);
        });
        $(".minus").click(function(){
            var num = $(".buycount-ctrl input").val();
            num--;
            inputChange(num);
        });
        $(".plus").click(function(){
            var num = $(".buycount-ctrl input").val();
            num++;
            inputChange(num);
        });



        $(".sn-list li").click(function(){
            var index = $(".sn-list li").index(this)
            $(".sn-list li").removeClass("spec-nav-current");
            $(".j-info-all .tab").css({display: "none"});
            $(this).addClass("spec-nav-current");
            $(".j-info-all .tab").eq(index).css({display: "block"});
        });

        $(".branch").mouseenter(function(){
            $(".branch").removeClass("branch-open").addClass("branch-close");
            $(this).removeClass("branch-close").addClass("branch-open");
        });
    </script>
</body>
</html>