<!--包含头部文件-->
{include file="public/header" /}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 商户商品列表 </nav>
<div class="page-container">

	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
			<thead>
				<tr class="text-c">
					<th width="40">ID</th>
					<th width="40">买家</th>
					<th width="40">商品名称</th>
					<th width="30">售出数量</th>
					<th width="30">售出总价</th>
					<th width="100">开始时间-结束时间</th>
					<th width="60">状态</th>
					<th width="60">操作</th>
				</tr>
			</thead>
			<tbody>

			</tbody>
		</table>
	</div>

</div>
<!--包含头部文件-->
{include file="public/footer" /}
