<div class="search">
    <img src="__STATIC__/index/image/logo.png" />

</div>

<div class="nav-bar-header">
    <div class="nav-inner">
        <ul class="nav-list">
            <li class="nav-item">
                <span class="item">全部分类</span>
                <div class="left-menu">

                    {foreach name="categoryData" item="vo1" key="k" }
                    <div class="level-item">
                        <div class="first-level">
                            <dl>
                                <dt class="title"><a href="" target="_top">{$vo1.name}</a></dt>
                                {volist name="$vo1['seCategory']" id="vo2" offset="0" length='2'}
                                <dd><a href="" target="_top" class="">{$vo2.name}</a></dd>
                                {/volist}
                            </dl>
                        </div>
                        <div class="second-level">
                            <div class="section">
                                <div class="section-item clearfix">
                                    <h4>热门分类</h4>
                                    <ul>
                                        {foreach name="$vo1['seCategory']" item="vo2"}
                                        <li><a href="//t10.nuomi.com/pc/t10/index" target="_top" class="hot" mon="element={$vo2['name']}">{$vo2["name"]}</a></li>
                                        {/foreach}
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                    {/foreach}

                </div>
            </li>
            <li class="nav-item"><a class="item first active">首页</a></li>
            <li class="nav-item"><a class="item">个人中心</a></li>
            <li class="nav-item"><a class="item" href="{:url('/bis/login')}" target="_blank">商户中心</a></li>
        </ul>
    </div>
</div>
